.InputContainer {
    height: 150px !important;
    margin-bottom: 20px !important;
}

.InputDropdowns {
    margin-bottom: 5px !important;
}

.InputDropdowns:last-child {
    margin-bottom: 0px !important;
}